In [62]:
############################################################################################################################
## Script: AGOLSQLSync.py
## Author: Jeremy Mullins, Derek Morgan
## Date:
##
## Description:
##        This script is the test script for syncing data between ArcGIS Online
##        and an MS SQL Server database.
##
## Required prerequisites:
##        - ArcGIS API for Python
##            (https://developers.arcgis.com/python/)
##
##        - pyodbc Module
##            (https://github.com/mkleehammer/pyodbc)
##                to install after download, open Python command
##                prompt and type the following:
##                    -- conda install pyodbc  --
##
##        - MS ODBC Driver for SQL Server (v17)
##            (https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-2017)
##
############################################################################################################################

In [63]:
# import all necessary modules
from arcgis.gis import GIS
from arcgis import geometry
from copy import deepcopy
import pyodbc as sql
import pandas as pd
import configparser
import zipfile
import os

In [120]:
# read config file
config = configparser.ConfigParser()
config.read('config_jdm.ini')

# assign config variables
agolURL = config['AGOL']['URL']
agolUSER = config['AGOL']['USER']
agolPW = config['AGOL']['PW']
sqlDRVR = config['SQL']['SQLDRVR']
sqlSERV = config['SQL']['SERVER']
sqlDB = config['SQL']['DB']
sqlUSER = config['SQL']['USER']
sqlPW = config['SQL']['PW']
iD = config['SCRIPT']['itemID']
csvNAME = config['SCRIPT']['csvTITLE']
csvLOC = config['SCRIPT']['csvLOC']
zipLOC = config['SCRIPT']['zipLOC']
csvDOC = config['SCRIPT']['csvDOC']
newTEMP1 = config['SCRIPT']['newTEMP1']
newTEMP2 = config['SCRIPT']['newTEMP2']
csv2TEMP = config['SCRIPT']['csv2TEMP']
newINS1 = config['SCRIPT']['newINS1']
newINS2 = config['SCRIPT']['newINS2']
SQL2CSV = config['SCRIPT']['SQL2CSV']
sql2CSVout = config['SCRIPT']['sql2CSVout']
delTEMP1 = config['SCRIPT']['delTEMP1']
delTEMP2 = config['SCRIPT']['delTEMP2']

In [113]:
# sign into AGOL acct
gis = GIS(agolURL,agolUSER,agolPW)

# get feature layer in question
featureLayer = gis.content.get(iD)

In [114]:
featureLayer

In [115]:
# export feature layer as CSV (ZIP file)
output_file = featureLayer.export(title=csvNAME,export_format="CSV")
output_file.download(csvLOC)

'C:\\\\Data\\\\PhD\\\\Projects\\\\SRC\\\\Data\\uwfBuildings.zip'

In [116]:
# unzip downloaded ZIP folder containing feature layer as CSV
zip_ref = zipfile.ZipFile(zipLOC,'r')
zip_ref.extractall(csvLOC)
zip_ref.close()

# delete ZIP folder on disk and CSV collection file in AGOL
os.remove(zipLOC)
output_file.delete()

True

In [121]:
# read CSV using panda; replace NaNs with '000'
df = pd.read_csv(csvDOC)
df.fillna('000',inplace=True)

In [122]:
df

,FID,BUILDINGID,Descriptio,Classrooms,TypeCode,email,x,y
0,1,76,COLLEGE OF BUSINESS,No,1,,-87.215501,30.549540
1,2,46,HOUSING MAINTENANCE,No,5,,-87.218518,30.553227
2,3,53,COB RAYMOND M. HAAS CENTER,No,1,,-87.215550,30.550373
3,4,T14,,,0,,-87.204129,30.541286
4,5,219,,No,0,,-87.203419,30.540187
5,6,89,MARGARET J SMITH ARCHAEOLOGY,No,1,,-87.217682,30.542246
6,7,50,HUMA & SOC SCIENCES OFFICES,No,1,,-87.216707,30.551490
7,8,99,,No,2,,-87.214874,30.543081
8,9,52,CLASSROOMS/OFFICES,Yes,1,,-87.215864,30.550477
9,10,46,HOUSING MAINTENANCE,No,5,,-87.217279,30.554813
10,11,281,,No,0,,-87.212249,30.545157
11,12,32,JOHN C PACE LIBRARY,No,1,,-87.217218,30.550063
12,13,,,,0,,-87.216722,30.544841
13,14,11,COLLEGE OF ARTS & SCIENCES,Yes,2,,-87.220178,30.551663
14,15,82B,CENTER FOR FINE & PERFORM ARTS,Yes,1,,-87.217307,30.544871
15,16,113,,No,0,,-87.220804,30.546795
16,17,82,CENTER FOR FINE & PERFORM ARTS,Yes,1,,-87.217592,30.545493
17,18,70,APPLIED SCIENCE & TECHNOLOGY,No,1,,-87.214671,30.545576
18,19,16,SOUTHSIDE RESIDENCE HALL 16,No,4,,-87.220727,30.549654
19,20,74,COLLEGE OF BUSINESS CLASSROOMS,Yes,1,,-87.215949,30.549818
20,21,,,,0,,-87.220240,30.543566
21,22,72,HLS FACILITY,Yes,3,,-87.221946,30.544715
22,23,8,,No,2,,-87.220085,30.540315
23,24,86,PROFESSIONAL STUDIES CLASSROOM,Yes,1,,-87.216161,30.544123
24,25,,,,0,,-87.220249,30.543577
25,26,12,ALUMNI - UWF FOUNDATION,No,2,,-87.219691,30.551090
26,27,27,SOUTHSIDE RESIDENCE HALL 27,No,4,,-87.217226,30.548290
27,28,,,,0,,-87.220786,30.545010
28,29,18,J.B. HOPKINS HALL,No,2,,-87.220750,30.550490
29,30,,,,0,,-87.220177,30.543594
...,...,...,...,...,...,...,...,...
108,109,,,,0,,-87.220801,30.544968
109,110,38,SMALL BUSINESS DEVELOPMENT CTR,No,2,,-87.219056,30.551461
110,111,922,PRESIDENTS HALL,No,4,,-87.214336,30.548851
111,112,88,WUWF PUBLIC RADIO STATION,No,2,,-87.219424,30.543460
112,113,2,,No,0,,-87.220083,30.552791
113,114,930,PACE HALL HONORS RESIDENCE,No,4,,-87.215931,30.551921
114,115,,,,0,,-87.220398,30.547241
115,116,191,,No,0,,-87.212797,30.544197
116,117,,,,0,,-87.216741,30.544766
117,118,73,AQUATIC CENTER,No,3,,-87.221831,30.545572
118,119,25,SOUTHSIDE RESIDENCE HALL 25,No,4,,-87.218753,30.548064
119,120,19,CAREER SVCS,No,2,,-87.218921,30.549913
120,121,6,BIOREMEDIATION LAB,No,1,,-87.217466,30.552558
121,122,37,NURSING,No,1,,-87.218981,30.550729
122,123,4,SCIENCE & ENGINEERING,Yes,1,,-87.217011,30.547080
123,124,49,ARCHAEOLOGY STORAGE/LABORATORY,No,5,,-87.197736,30.543675
124,125,91,MAINTENANCE - PARKING SERVICES,No,5,,-87.213200,30.544582
125,126,063,,,0,,-87.215929,30.552718
126,127,3,,No,0,,-87.216970,30.548665
127,128,43,ARCHAEOLOGY/SPECIAL COLLECTION,No,5,,-87.198172,30.543103
128,129,26,SOUTHSIDE RESIDENCE HALL 26,No,4,,-87.217581,30.548435
129,130,95A,,No,0,,-87.214459,30.544984
130,131,28,SOUTHSIDE RESIDENCE HALL 28,No,4,,-87.217412,30.548742
131,132,58A,SCIENCE LECTURE LABORATORY,Yes,1,jwm35@students.uwf.edu,-87.217510,30.551986
132,133,0T5,,,0,,-87.223269,30.547202
133,134,83,WETLANDS RESEARCH FACILITY,No,1,,-87.217781,30.552383
134,135,194,,No,0,,-87.212351,30.544219
135,136,48,RECORDS MANAGEMENT,No,5,,-87.197707,30.544096
136,137,207,,No,0,,-87.222942,30.546155
137,138,XYZ123,New Building,Yes,1,,-87.222129,30.547119

In [123]:
#Connect to SQL db and assign cursor
conn = sql.connect('Driver='+sqlDRVR+';'
                      'Server='+sqlSERV+';'
                      'Database='+sqlDB+';'
                      'trusted_connection=yes;'
                      'UID='+sqlUSER+';'
                      'PWD='+sqlPW+';')
cursor = conn.cursor()

# create temporary tables in SQL db
cursor.execute(newTEMP1)
cursor.commit()

cursor.execute(newTEMP2)
cursor.commit()

In [124]:
# insert CSV into temporary table
for index,row in df.iterrows():
    cursor.execute(csv2TEMP,row['FID'],
                   row['BUILDINGID'],
                   row['Descriptio'],
                   row['Classrooms'],
                   row['TypeCode'],
                   row['email'],
                   row['x'],
                   row['y']
                  )
cursor.commit()

KeyError: 'Email'

In [ ]:
# compare tables and look for non-duplicated GlobalIDs
cursor.execute(newINS1)
cursor.commit()

In [ ]:
# compare tables and look for any updated records in prod table
cursor.execute(newINS2)
cursor.commit()

In [ ]:
# export SQL data to CSV
outCSVscript = SQL2CSV

df2 = pd.read_sql_query(outCSVscript,conn)

df2.to_csv(sql2CSVout)

# https://stackoverflow.com/questions/
#     18977387/how-to-export-sql-server-result-to-excel-in-python
# https://datatofish.com/export-dataframe-to-csv/

In [ ]:
# read the SQL update CSV
csv2 = sql2CSVout
updates_df_2 = pd.read_csv(csv2)

# query all features in target AGOL feature layer
fl = featureLayer.layers[0]
flquery = fl.query()

# determine which features overlap between update CSV and AGOL feature layer using an INNER join
overlap_rows = pd.merge(left = flquery.sdf, right = updates_df_2, how = 'inner', on = 'FID')

# create list containing corrected features (ftbu)
updatefeatures = []
all_features = flquery.features

In [103]:
# for loop to prepare updated geometries and attributes for each of the updated features
# geometry module used to project coordinates form geographic to projected coordinate system
for fid in overlap_rows['FID']:
    # get the feature to be updated
    original_feature = [f for f in all_features if f.attributes['FID'] == fid][0]
    ftbu = deepcopy(original_feature)
    
    # get the matching row from csv
    matching_row = updates_df_2.where(updates_df_2.FID == fid).dropna()
    
    # get geometries in the destination coordinate system
    input_geometry = {'y':float(matching_row['Y']),
                      'x':float(matching_row['X'])}
    output_geometry = geometry.project(geometries = [input_geometry],
                                       in_sr = 4326,
                                       out_sr = flquery.spatial_reference['latestWkid'],
                                       gis = gis)
    # assign the updated values
    ftbu.geometry = output_geometry[0]
    ftbu.attributes['BUILDINGID'] = matching_row['BuildingID'].values[0]
    ftbu.attributes['Classrooms'] = matching_row['Classrooms'].values[0]
    ftbu.attributes['Descriptio'] = matching_row['Description'].values[0]
    ftbu.attributes['TypeCode'] = matching_row['TypeCode'].values[0]
    ftbu.attributes['FID'] = int(matching_row['FID'])
    ftbu.attributes['email'] = matching_row['email'].values[0]
    
    # add this to the list of features to be updated
    updatefeatures.append(ftbu)

In [104]:
updatefeatures

[]

In [82]:
#Lets see what is on the haed of the feature layer
#before applying our update
fl.query().sdf.head()

,BUILDINGID,Classrooms,Descriptio,FID,SHAPE,TypeCode,email
0,76,No,COLLEGE OF BUSINESS,1,"{""x"": -9708785.2076, ""y"": 3574385.458999999, ""...",1,
1,46,No,HOUSING MAINTENANCE,2,"{""x"": -9709120.994, ""y"": 3574862.0340000014, ""...",5,
2,53,No,COB RAYMOND M. HAAS CENTER,3,"{""x"": -9708790.5885, ""y"": 3574493.1630999967, ...",1,
3,T14,,,4,"{""x"": -9707519.2373, ""y"": 3573318.5583000034, ...",0,
4,219,No,,5,"{""x"": -9707440.1902, ""y"": 3573176.510499999, ""...",0,

In [92]:
# call the edit_features() method of FeatureLayer object and pass features to the updates parameter
# See: https://developers.arcgis.com/python/sample-notebooks/updating-features-in-a-feature-layer/
if len(updatefeatures) > 0:
    fl.edit_features(updates = updatefeatures)
#raise ValueError()
# https://developers.arcgis.com/python/sample-notebooks/updating-features-in-a-feature-layer/

In [93]:
#Lets see what is on the haed of the feature layer
#after applying our update
fl.query().sdf.head()

,BUILDINGID,Classrooms,Descriptio,FID,SHAPE,TypeCode,email
0,76,No,COLLEGE OF BUSINESS,1,"{""x"": -9708785.2076, ""y"": 3574385.458999999, ""...",1,
1,46,No,HOUSING MAINTENANCE,2,"{""x"": -9709120.994, ""y"": 3574862.0340000014, ""...",5,
2,53,No,COB RAYMOND M. HAAS CENTER,3,"{""x"": -9708790.5885, ""y"": 3574493.1630999967, ...",1,
3,T14,,,4,"{""x"": -9707519.2373, ""y"": 3573318.5583000034, ...",0,
4,219,No,,5,"{""x"": -9707440.1902, ""y"": 3573176.510499999, ""...",0,

In [94]:
# delete temporary table
cursor.execute(delTEMP1)
cursor.commit()

cursor.execute(delTEMP2)
cursor.commit()

In [95]:
# close and delete cursor; close SQL db connection
cursor.close()
del cursor
conn.close()

In [96]:
# remove all CSVs
os.remove(csvDOC)
os.remove(sql2CSVout)