In [1]:
############################################################################################################################
## Script: AGOL_2_SQL.py
## Author: Jeremy Mullins, Derek Morgan
## Date:
##
## Description:
##        This script is the test script for importing a AGOL feature layer into MS SQL as a table.
##
## Required prerequisites:
##        - ArcGIS API for Python
##            (https://developers.arcgis.com/python/)
##
##        - pyodbc Module
##            (https://github.com/mkleehammer/pyodbc)
##                to install after download, open Python command prompt and type the following:
##                    -- conda install pyodbc  --
##
##        - MS ODBC Driver for SQL Server (v17)
##            (https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-2017)
##
############################################################################################################################

In [2]:
# import all necessary modules
from arcgis.gis import GIS
import pyodbc as sql
import pandas as pd
import configparser
import zipfile
import arcpy
import sys
import os

In [3]:
#read config file
config = configparser.ConfigParser()
config.read('config_jdm.ini')

# assign config variables
workSPACE = config['SCRIPT']['workSPACE']
agolURL = config['AGOL']['URL']
agolUSER = config['AGOL']['USER']
agolPW = config['AGOL']['PW']
iD = config['SCRIPT']['itemID']
csvTITLE = config['SCRIPT']['csvTITLE']
csvLOC = config['SCRIPT']['csvOUTPUT']
zipLOC = config['SCRIPT']['zipLOC']
sqlDRVR = config['SQL']['odbcDRVR']
sqlSERV = config['SQL']['SERVER']
sqlDB = config['SQL']['DB']
sqlUSER = config['SQL']['USER']
sqlPW = config['SQL']['PW']
createTABLE = config['SQL']['createTEMP']
csvINSERT = config['SQL']['csvINSERT']
insNewRows = config['SQL']['updateTABLE']
delTEMP = config['SQL']['delTEMP']

In [4]:
#set workspace(s)
arcpy.env.workspace = workSPACE
os.chdir(workSPACE)

In [5]:
# sign into AGOL account
gis = GIS(agolURL, agolUSER, agolPW)

In [6]:
# get feature layer in question
featureLayer = gis.content.get(iD)

In [8]:
# export feature layer into CSV and save locally as ZIP file
output_file = featureLayer.export(title=csvTITLE,
                                   export_format="CSV")
output_file.download(csvLOC)

'C:/Data/PhD/Projects/SRC/src/Notebooks\\test.zip'

In [9]:
# unzip downloaded feature layer data
zip_ref = zipfile.ZipFile(zipLOC, 'r')
zip_ref.extractall(csvLOC)
zip_ref.close()

In [10]:
# remove excess files
os.remove(zipLOC)
output_file.delete()

True

In [11]:
# import CSV into SQL database as view
conn = sql.connect('Driver='+sqlDRVR+';'
                      'Server='+sqlSERV+';'
                      'Database='+sqlDB+';'
                      'trusted_connection=yes;'
                      'UID='+sqlUSER+';'
                      'PWD='+sqlPW+';')
cursor = conn.cursor()

#https://datatofish.com/how-to-connect-python-to-sql-server-using-pyodbc/

In [12]:
# read CSV into pandas and fill any NaN with '000'
df = pd.read_csv('Buildings_0.csv')
df.fillna('000',inplace=True)
df

,OBJECTID,Building Identifier,Description,Classrooms,TypeCode,GlobalID
0,272,86,PROFESSIONAL STUDIES CLASSROOM,Yes,1,3e617e2b-668a-4870-ad01-348a94670fd4
1,273,85,PROFESSIONAL STUDIES OFFICES,No,1,dc38e06d-522d-46f8-83ed-53ccbe04b2e6
2,274,73,AQUATIC CENTER,No,3,0f8fe922-1479-4d0b-a1df-da261997067f
3,275,32,JOHN C PACE LIBRARY,No,1,90f0da92-94c4-4dfa-bfe3-19498d3bf4c5
4,276,10,HAROLD BRYAN CROSBY HALL,No,2,fcae2fef-9de1-4215-bf6b-8fd2a8116325
5,277,11,COLLEGE OF ARTS & SCIENCES,Yes,2,75c6a22c-239e-4545-9490-1fee46530de6
6,278,12,ALUMNI - UWF FOUNDATION,No,2,e72b2904-caa4-4ac4-a7b3-3b196be3a922
7,279,13,ANTHROPOLOGY & ENV SCIENCE,Yes,1,6879d938-a673-4991-8217-75531da937fb
8,280,35,SOUTHSIDE RESIDENCE HALL 35,No,4,41adb182-3abb-4171-9e25-b7af62c79fa9
9,281,38,SMALL BUSINESS DEVELOPMENT CTR,No,2,de5f399e-d2ad-451a-a46e-cc1db6ed212e
10,282,75,COB GRADUATE STUDIES,No,1,51e1d182-4fda-400b-9a94-55e847c427b6
11,283,50,HUMA & SOC SCIENCES OFFICES,No,1,d1b252e6-fc95-4c8d-ad23-119d54e50416
12,284,51,HUMA & SOC SCIENCES CLASSROOMS,Yes,1,948f40ba-87af-46ae-9f4a-9655056895a5
13,285,76A,,Yes,1,c5155782-36be-4201-9a59-c47d254f3b90
14,286,191,,No,0,0c39ee53-5f8b-414a-8c0f-d85aa3347d45
15,287,194,,No,0,13258a71-0cdd-4f04-bae3-fdb6adb5dd8b
16,288,94,LANDSCAPE AND GROUNDS,No,2,6e604e3c-db54-4b34-abe4-835878063dbc
17,289,93,BLDG SVCS STRGE/WORK CONTROL,No,5,725fe124-11de-4877-82a5-8feee7da4b7d
18,290,281,,No,0,e021de0f-2cce-463b-80f7-62ddceb26ad5
19,291,281,,No,0,5cc39d26-88d0-47d3-ae15-192ea41ec6ca
20,292,94A,,No,5,b02d0b82-b30e-4873-8c4d-9fe03c9c904f
21,293,94B,,No,5,b2b8f483-ac33-46cd-a875-bb3cccade422
22,294,92,BUILDING SERVICES,No,5,36ae4665-e150-435f-b5c9-58d802480e31
23,295,90,FACILITIES SVCS - PROCUREMENT,No,5,3ad16e20-f75f-446b-9637-6b3902aaafd6
24,296,95,CENTRAL RECEIVING,No,5,7e0a9ec8-b831-498b-9ab7-9f78554b29f0
25,297,95A,,No,0,7a889bf3-561d-40cd-8407-f85d72e6fa37
26,298,95B,,No,0,c69ce8f7-9cac-4816-b252-a2e98df912f4
27,299,80,APPLIED SCI & TECH ANNEX,No,1,ef6c57b3-bf63-4948-9b2e-5057141952fc
28,300,70,APPLIED SCIENCE & TECHNOLOGY,No,1,9e9132cb-83db-43cd-b08b-2601f9b8015c
29,301,91,MAINTENANCE - PARKING SERVICES,No,5,cdbae68f-0c01-4ee5-aaae-e3993b317963
...,...,...,...,...,...,...
109,381,,,,0,526d5f5b-0936-40e7-b0ca-5a427bcbf9b4
110,382,,,,0,8e78b70e-b9d7-49d7-a149-1c5b56f82588
111,383,,,,0,a728feed-f10d-491b-9782-576784d02a1b
112,384,,,,0,3c5addcf-ca5e-4069-a06f-c53637db389d
113,385,,,,0,5613328c-d5eb-456c-86d8-382d38062cc6
114,386,,,,0,09393c6c-1c75-49d8-98d9-2c411cf726e5
115,387,,,,0,dbe13326-df11-4745-9943-460fc17e8048
116,388,,,,0,6fb1a55c-7ff7-4fe9-9d06-c185b9f39a81
117,389,,,,0,98d1fa3f-fccf-40e8-807e-d46a1c57bf26
118,390,,,,0,0b8b8cc4-6062-47f6-85b5-6ba905803bc7
119,391,,,,0,f78dee1f-e48c-415d-b341-4c25925fd05a
120,392,063,,,0,30feb453-dbb4-4543-af89-e5819de42300
121,393,,,,0,7aaf49f3-b628-496b-96b3-a364eafc09da
122,394,,,,0,d4af916c-f471-4547-996d-6ad42f8c176d
123,395,,,,0,37918067-0702-4ac5-9991-5032a282714d
124,396,,,,0,1eb1568e-5b4c-46c5-bee2-8a0cc0e7cb1a
125,397,,,,0,59900d75-9ed6-4116-a5c9-a47d259350d2
126,398,99,,No,2,2f56bd89-7fd4-43c8-a3a1-11abed2d3087
127,399,,,,0,231e3a01-a837-4e6b-bc3d-ca5d1576248e
128,400,,,,0,7e81b545-35c0-406f-b3ec-428cda45536d
129,401,,,,0,b01588cb-b896-4b68-a43f-b5deee37ebbf
130,402,960,STUDENT HEALTH SERVICES,No,2,d82ab212-88d3-4ffb-849a-c609db988dd7
131,403,922,PRESIDENTS HALL,No,4,4debd46f-380c-4343-a1b7-ceaea4e21a15
132,404,921,HERITAGE HALL,No,4,ca793205-3b3a-493d-888a-738ea03cada8
133,405,T06,,,0,b0303dd4-80ad-42cb-9a0b-7b0422d46b2f
134,406,4,SCIENCE & ENGINEERING,Yes,1,17e9b98c-b3a5-495d-af90-df43a109575d
135,407,29,SOUTHSIDE RESIDENCE HALL 29,No,4,ea06b685-44e3-4abd-99b7-910553f15d64
136,408,53,COB RAYMOND M. HAAS CENTER,No,1,d44f8208-12be-4008-9857-08878d3896de
137,409,000,,,0,71a75ff2-a91b-4f64-b683-4c920e53be03
138,415,KX678,Pie Place,No,3,fdd5a11e-ba63-47fb-8bbd-bbd269f53f07

In [18]:
# creates temporary table
cursor.execute('CREATE TABLE [dbo].[src_test]([OBJECTID] INT, '
               '[BuildingIdent] varchar(100), '
               '[Description] varchar(50), '
               '[Class] varchar(3), '
               '[TypeCode] INT, ' 
               '[GlobalID] varchar(50))')
cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'src_test' in the database. (2714) (SQLExecDirectW)")

In [20]:
# inserts rows from CSV
for index,row in df.iterrows():
    cursor.execute('INSERT INTO [dbo].[src_test]([OBJECTID], '
                   '[BuildingIdent],[Description],[Class],[TypeCode],[GlobalID])  '
                   'values (?,?,?,?,?,?)',
                   row['OBJECTID'],row['Building Identifier'],row['Description'],row['Classrooms'],row['TypeCode'],row['GlobalID'])
cursor.commit()

# https://tomaztsql.wordpress.com/2018/07/15/using-python-pandas-dataframe-to-read-and-insert-data-to-microsoft-sql-server/

In [21]:
# executes insert into production table, from temp table, loading only new records
cursor.execute('INSERT INTO [dbo].[src_prod](OBJECTID, '
               'BuildingIdent,Description,Class,TypeCode,GlobalID) '  
               'SELECT * FROM [dbo].[src_test] UNION ' 
               'SELECT * FROM [dbo].[src_prod] EXCEPT ' 
               'SELECT * FROM [dbo].[src_test] INTERSECT SELECT * FROM [dbo].[src_prod]')
cursor.commit()

# deletes temporary table
cursor.execute(delTEMP)
cursor.commit()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'dbo.src'. (208) (SQLExecDirectW)")

In [263]:
# commits all previous executes, closes and deletes cursor and closes connection
cursor.close()
del cursor
conn.close()